<div class="container-fluid full-height">
  <div class="row full-height">
    <div class="col-md-8 background">
      <%= react_component("common/article", { currentUser: current_user }) %>
    </div>
    <div class="col-md-4 pt-50 full-height bg-white position-fixed right">
      <h2 class="mb-50 text-center">Welcome To ReadMe</h2>
      <h4 class="mb-50">Registration</h4>
      <%= render "devise/shared/error_messages", resource: resource %>
      <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Enter Email' %>
        </div>
        <div class="form-group">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'Password' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Confirm Password' %>
        </div>
        <%= f.submit "Sign up", class: 'btn btn-block btn-primary' %>
      <% end %>
      <div class="sticky-footer">
        <hr>
        <%= link_to 'Login', new_user_session_path, class: "btn btn-block btn-dark mt-50"   %>  
      </div>
    </div>
  </div>
</div>