<div class="container-fluid full-height">
  <div class="row full-height">
    <div class="col-md-8 background">
      <%= react_component("common/article", { currentUser: current_user }) %>
    </div>
    <div class="col-md-4 pt-50 full-height bg-white position-fixed right">
      <h2 class="mb-50 text-center">Welcome To ReadMe</h2>
      <h4 class="mb-50">LOGIN</h4>
      <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Enter Email' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Password' %>
        </div>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Remember Me" %>
        </div>
        <%= f.submit "LOGIN", class: 'btn btn-block btn-primary' %>
      <% end %>
      <div class="sticky-footer">
        <hr>
        <%= link_to 'Register', new_user_registration_path, class: "btn btn-block btn-dark mt-50"   %>  
      </div>
    </div>
  </div>
</div>