/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bootstrap";

body{
	font-family: 'Alegreya Sans', sans-serif;
  background: #3f4354;
}

.mt-50{
	margin-top: 50px;
}

.mt-150{
	margin-top: 150px;
}

.pt-50{
	padding-top: 50px;
}

.mb-50{
	margin-bottom: 50px;
}

.mb-150{
	margin-bottom: 150px;
}

.b-0{
	bottom: 0;
}

.background{
    width: 100%;
}

.full-height{
	height: 100%;
}

html, body {
  height: 100%;
}

body{
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.sticky-footer{
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#error_explanation{
	color: red;
}

#error_explanation h2{
	font-size: 15px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body::after {
  content: "";
  // background: asset-url("wallpaper.jpg");
  background-repeat: none;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.right{
    right: 0px;
}

.up-button{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: inline-block;
  bottom: 40px;
  z-index: 1;
  background-color: #111;
  color: white;
}

button:focus, button:active, .up-button:focus,.up-button:active {
   outline: none !important;
   box-shadow: none;
}

.article-item:hover{
  -webkit-box-shadow: -1px 9px 5px 0px rgba(0,0,0,0.22)!important;
  -moz-box-shadow: -1px 9px 5px 0px rgba(0,0,0,0.22)!important;
  box-shadow: -1px 9px 5px 0px rgba(0,0,0,0.22)!important;
  background: #fff!important;
  border-left: 1px solid rgb(216, 216, 216);
  border-right: 1px solid rgb(216, 216, 216);
}

.article-item{
  background: #fff;
}

.article-item a{
  background: #fff;
  text-decoration: none!important;
}

.article-item:focus, {
  background: #fff;
}

.article-comments{
  height: 400px;
  overflow: scroll;
  font-size: 13px;
}

.list-group-item{
  background: #898ea0;
  color: #fff;
}

#mySidenav{
  background: #898ea0;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: #3f4354;
  color: #fff;
  height: 54px;
  padding-top: 10px;
}

.text-primary{
  color: #3f4354!important;
}

.article-comments{
  background: #fff;
}

.article-comments .list-group-item{
  background: #fff;
  color: #3f4354;
}

.btn-info, .btn-primary{
  background: #898ea0;
}